.LeftContainer{
    height: 170px;
    background: #293f50;
    float: left;
    justify-content: center;
    align-items: center;
    font-size: 38px;
    padding: 26px;
    padding-left: 23%;
    letter-spacing: 3px;
    font-weight: 100;
    text-decoration: none;

}

.RightContainer{
    height: 170px;
    background: #293f50;
    color:white;
    float: left;
}

.date{
    padding: 40px;
    margin: 0px 24%;
    letter-spacing: 2px;
    font-size: 19px;
    color: #648880;
}

.link{
    justify-content: space-around;
    padding: -7px;
    margin: -13px 16%;
    align-items: center;
    display: flex;
}

.SecondRow{
    background: linear-gradient(45deg, #add092, transparent);
    height: 220px;
    display: flex;
    float: left;
    width: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
}

h2{
    color: #648880;
    font-size: 38px;
    margin-bottom: 22px;
}

p{
    font-size: 22px;
    width: 60%;
    margin: 0px 22%;
    color: #a2998b;
}

.ThirdRow{
    width: 70%;
    margin: 0px 16%;
    display: flex;
    padding-top: 92px;

}

.text{
    width: 30%;
    margin: 0px 6%;
    padding-top: 50px;
}

h4 {
    color: #648880;
}

.x{
    padding-top: 10px;
    padding-bottom: 15px;
}

img{
    width: 92%;
}

.Footer{
    float: left;
    display: flex;
    width: 100%;
    background:#293f50;
    color: white;
    height: 90px;
}

.Copy{
    display: flex;
    align-items: center;
    margin: 0px 18%;
    margin-right: 82px;
}
.link2{
    justify-content: space-around;
    margin: 0px 11%;
    align-items: center;
    display: flex;
    width: 33%;
}

.image{
    padding-bottom: 60px;
}


